@using Microsoft.AspNetCore.Components.Authorization
@layout TelerikLayout
@inherits LayoutComponentBase
<div class="page">
    <CascadingAuthenticationState>
        <AuthorizeView>
            <Authorized>
                <div class="sidebar">
                    <NavMenu />
                </div>
            </Authorized>
            <NotAuthorized>
            </NotAuthorized>
        </AuthorizeView>
    </CascadingAuthenticationState>
    <main>
        <div class="top-row px-4">
            <AuthLayout />
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            <div class="container-md">
                @Body
            </div>
        </article>
    </main>
</div>
