@page "/Blog";
@using GnosisNet.Web.IServices
@inject IBlogService _blogService
<h3>BlogComponent</h3>

@if (blogs == null || blogs.Count == 0)
{
    
}
else
{
    @foreach (var blog in blogs)
    {
        <div class="row">
            <div class="card">
                <div class="card-header">@blog.Title <small>@blog.PublishedDate</small></div>
                <div class="card-body">@blog.PostBody</div>
                <a ></a>
                <div class="card-footer">
                    <a href="javascript:void(0);" @onclick="() => NavigateToFullPost(blog.Id)">Readmore</a>
                </div>
            </div>
        </div>
    }
}

