@page "/";
@using GnosisNet.Web.IServices
@inject IBlogService _blogService


@if (blogs == null || blogs.Count == 0)
{
    <div class="spinner-border"></div>
}
else
{
    @foreach (var blog in blogs)
    {
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <b>@blog.Title</b>
                </div>
                <div class="card-subtitle">
                    <span class="badge badge-secondary">Published By: @blog.PublishedBy</span>
                    <small>Published On: @blog.PublishedDate</small>
                </div>
                <div class="card-body">@((MarkupString)blog.PostBody)</div>
                <a></a>
                <div class="card-footer">
                    <a href="javascript:void(0);" @onclick="() => NavigateToFullPost(blog.Id)">Read more</a>
                    <div class="icon">
                        <i class="fa-regular fa-comment"></i>
                        <i class="fa-regular fa-heart" style="margin-left: 5px"></i>
                        <i class="far fa-share-square" style="margin-left: 5px"></i>
                        <i class="fa-regular fa-bookmark" style="margin-left: 5px"></i>
                    </div>
                </div>
            </div>
        </div>
    }
}
