@page "/myblogs"
@using GnosisNet.Web.Extensions
@using GnosisNet.Web.IServices
@using GnosisNet.Web.Models.Enums
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]
@inject IBlogService _blogService

<div class="row mb-5">
    <div>
        <button @onclick="NavigateToCreateBlog" class="btn btn-primary">Post Something</button>
    </div>
</div>

@if (blogs == null || blogs.Count == 0)
{

}
else
{
    @foreach (var blog in blogs)
    {
        <div class="row">
            <div class="card">
                <div class="card-header"><b>@blog.Title</b></div>
                <div class="card-subtitle"><small>@blog.PublishedDate</small></div>
                <div class="card-body truncate">@((MarkupString)blog.PostBody)</div>

                <div class="card-footer">
                    <div>
                        <a href="javascript:void(0);" @onclick="() => NavigateToFullPost(blog.Id)">Read more</a>
                    </div>
                    @if (blog.Status != BlogStatusEnum.Published)
                    {
                        <div class="ml-5">
                            <a class="ml-5" href="javascript:void(0);" @onclick="() => NavigateToEditPost(blog.Id)">Edit</a>
                        </div>
                    }
                </div>
            </div>
        </div>
        <br />
        <br />
    }
}

