@page "/blog/create"
@using GnosisNet.Web.IServices
@using GnosisNet.Web.Models.Enums
@inject IBlogService _blogService
@using Microsoft.AspNetCore.Authorization
@using Telerik.Blazor.Components
@using Telerik.Blazor.Components.Editor
@attribute [Authorize]

<h4>Share your thoughts/news etc..</h4>

<form @onsubmit="HandleSubmit">
    <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" id="title" @bind="blog.Title" required />
    </div>
    <div class="form-group">
        <label for="postbody">Post Body</label>
        <TelerikEditor @bind-Value="@blog.PostBody"
                       Tools="@Tools"
                       Height="450px">
        </TelerikEditor>
    </div>
    <div class="form-group">
        <label for="publisheddate">Published Date</label>
        <input type="date" class="form-control" id="publisheddate" @bind="blog.PublishedDate" />
    </div>
    <div class="form-group">
        <label for="status">Status</label>
        <select class="form-control" id="status" @bind="blog.Status">
            @foreach (var status in Enum.GetValues(typeof(BlogStatusEnum)))
            {
                <option value="@status">@status</option>
            }
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
    <button class="btn btn-link" @onclick="GoBack">Back</button>
</form>